/**
 * CustomProperties
 */

@import '@folio/stripes-components/lib/variables.css';

.lookupSearchContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lookupSearch {
  flex-grow: 1;
  margin-right: var(--gutter-static-two-thirds);
  width: unset;
}